@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #F0FFF0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

header{
    background-color: #ffcc00;
    text-align: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 10px;

}

header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
    font-weight: 500;
}

header h1{
    display: inline-block;
    margin-right: 0,5px;
    margin-left: 0,5px;
}

.Tec{
    color:black
}

.Blog{
    color: white;
}

main{
    width: 700px;
    position: relative;
    left: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 1px;
    background-color: #EEFCFD;
}

.Titulo{
    line-height: 0.5;
    color:#ffcc00;
}

.data{
    font-size: small;
    font-weight: 400;
    line-height: 0.5;
    color: #1a1400;
}

main p{
    text-align: left;
    width: 650px;
    padding: 5px;
    margin: 10px;
  
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px;
}


.Postagem{
    width: 300px;
    margin: 10px;
    position: absolute;
    right: 10px;
    top: 150px;
    height: 400px;
    background-color: #f3fac4;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 17px;
}

.Postagem h3{
    font-size: 20px;
    padding: 10px;
    line-height: 5px;
    margin-bottom: 5px;
}

.Postagem p{
    margin-bottom: -35px;
    padding: 10px;   
}

.Postagem h5{
    font-size: 15px;
    padding: 10px;
    text-align: left;
    color:#ffcc00;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul a{
    border: 1px solid red;
    width: 200px;
    height: 40px;
    display: block;
    text-indent: 40px;
    line-height: 40px;
    background: url(imagens/menu.png) no-repeat left;
    text-decoration: none;
}

a:hover{
    background-position: right;
}

.Navegacao{
    font-weight: bold;
}