@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header{
    background-color: #ffcc00;
    text-align: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 10px;

}

header a{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-weight: 500;
}

header h1{
    display: inline-block;
    margin-right: 0,5px;
    margin-left: 0,5px;
}

.Tec{
    color:black
}

.Blog{
    color: white;
}

main{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 1px;
    background-color: #EEFCFD;
}

.Titulo{
    line-height: 0.5;
    color:#ffcc00;
}

.data{
    font-size: small;
    font-weight: 200;
    line-height: 0.5;
    color: #1a1400;
}

main p{
    text-align: left;
    padding: 5px;
    margin: 5px;
    border: 1px solid;
  
}

main img {
    max-width: 100%; /* Imagem não ultrapassa a largura disponível */
    height: auto; /* Mantém a proporção */
    display: block; /* Evita espaços em branco abaixo da imagem */
    margin: 10px 0; /* Espaço ao redor da imagem */
}


